<div class="container">

      <a id="yesno"></a>
      <div class="sample">
      <h3>A Simple Yes/No Modal</h3>

      <p>This sample shows a Bootstrap Modal with the options 'Yes' and 'No'.</p>
      <p>It demonstrates how to show a Bootstrap Modal, how to show a modal and how
      to retrieve data from the modal.</p>

      <p><a href class="btn btn-default btn-lg " ng-click="showYesNo()">Show Yes No</a></p>

      <pre ng-show="yesNoResult">{{yesNoResult}}</pre>
      <p>See the code that makes up this sample:</p>
      <ul>
      <li>The Modal Template - <a href="https://github.com/dwmkerr/angular-modal-service/blob/master/samples/yesno/yesno.html">yesno.html</a></li>
      <li>The Modal Controller - <a href="https://github.com/dwmkerr/angular-modal-service/blob/master/samples/yesno/yesnocontroller.js">yesnocontroller.js</a></li>
      <li>The Sample Controller (see 'showYesNo') - <a href="https://github.com/dwmkerr/angular-modal-service/blob/master/samples/sampleapp.js#L10">sampleapp.js</a></li>
      </ul>
      </div>

</div>