
<div class="container">
<!--
    <div class="page-header ">
        <h1 class="text-center">FAQ <br> <small> Tienes preguntas, tenemos las respuestas.</small></h1>
        <div class="well well-sm entete"></div>
    </div>
       
   
    <div class="panel-group" id="accordion">
        <div class="faqheader">Preguntas Generales</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">Collapsible Group 1</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a class="faqtitle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse2">Collapsible Group 2</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">Collapsible Group 3</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
        </div>
    </div> 
  -->

    

    <div class="accordion">
    <h2>Why People like us?</h2>
    <div class="panel-group" id="accordion1">
      <div class="panel panel-default">
        <div class="panel-heading active">
          <h3 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne1">
              Lorem ipsum dolor sit amet
              <i class="fa fa-angle-right pull-right"></i>
            </a>
          </h3>
        </div>

        <div id="collapseOne1" class="panel-collapse collapse in">
          <div class="panel-body">
              <div class="media accordion-inner">
                    <div class="pull-left">
                        <img class="img-responsive" src="images/accordion1.png">
                    </div>
                    <div class="media-body">
                         <h4>Adipisicing elit</h4>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
              </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseTwo1">
              Lorem ipsum dolor sit amet
              <i class="fa fa-angle-right pull-right"></i>
            </a>
          </h3>
        </div>
        <div id="collapseTwo1" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseThree1">
              Lorem ipsum dolor sit amet
              <i class="fa fa-angle-right pull-right"></i>
            </a>
          </h3>
        </div>
        <div id="collapseThree1" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseFour1">
              Lorem ipsum dolor sit amet
              <i class="fa fa-angle-right pull-right"></i>
            </a>
          </h3>
        </div>
        <div id="collapseFour1" class="panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
          </div>
        </div>
      </div>
    </div><!--/#accordion1-->
</div> 
</div>