 <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://shapebootstrap.net/" title="Página web TripGrip. Halla la aplicación móvil en Google Play">TripGrip</a>. Todos los derechos reservados
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Página Principal</a></li>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Contáctenos</a></li>
                    </ul>
                </div>
            </div>
        </div>
</footer><!--/#footer-->